doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"}
    ])
    style(type="text/css"): :stylus
      html,body { width: 100%; height: 100%; padding: 0; margin: 0 }
      textarea { outline: none!important; box-shadow: none!important }
      iframe { border: none }
  body.p-4
    .w-1200.rwd.mx-auto.h-100: .d-flex.flex-column.w-100.h-100
      div
        .d-flex.align-items-center.justify-content-between.mb-3
          h2.flex-grow-1.mb-0 pug-browser
          span.mr-1 Download:
          a.btn.btn-outline-secondary.btn-sm.mr-1(href="assets/lib/pug/dev/pug.js") pug.js
          a.btn.btn-outline-secondary.btn-sm.mr-1(href="assets/lib/pug/dev/pug.min.js") pug.min.js
          a.btn.btn-outline-secondary.btn-sm(href="assets/lib/pug/dev/html2pug.js") html2pug.js
        p builder for pug running in browser. quite small ( 170KB ) compared with a full browserified bundle ( 2MB ). For convinence, we also bundle html2pug in a standalone file ( 332KB ). Download with above buttons or #[a(href="https://github.com/plotdb/pug-browser") clone from Github repo] and build by yourself. Additionally, you can check the discify module size analysis for #[a(href="pug.html") pug] and #[a(href="html2pug.html") html2pug].

      .row.h-100.flex-grow-1
        .col-md: textarea.w-100.h-100.form-control.code-block.text-lg(ld="pug").
          doctype html
          html
            head
            body
              mixin para(v)
                p&attributes(attributes) paragraph
              h1 hello world
              each i in [1,2,3,4]
                +para(i).m-4
        .col-md: .d-flex.flex-column.h-100
          textarea.w-100.flex-grow-1.form-control.code-block.text-lg(ld="html",readonly,style="height:50%")
          .flex-grow-1.mt-4(ld="viewer",style="height:50%")

    //- 2.0.0 is not on npm. should we keep it here?
    //-+script("https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js")
    +script("assets/lib/browserfs/main/dist/browserfs.min.js")
    script(type="module"): :lsc
      BrowserFS.install window
      BrowserFS.configure {fs: \LocalStorage}, -> window.fs = fs = require("fs")
    +script([
      {name: "@loadingio/ldquery"},
      {name: "ldview"},
      {name: "@plotdb/sandbox"},
      {name: "pug-browser", version: "dev", path: "pug.min.js"},
      {name: "pug-browser", version: "dev", path: "html2pug.min.js"}
    ])
    script(type="module"): :lsc
      update = ->
        ret = pug.render(view.get(\pug).value, {filename: \index.pug, basedir: '.', pretty: true})
        view.get(\html).value = ret
        sbox.load {html: ret}
      view = new ldView do
        root: document
        action: input: pug: update
        handler: html: (->), viewer: (->)
      sbox = new sandbox do
        container: view.get(\viewer), className: "w-100 h-100 shadow rounded"
      update!
      ret = html2pug '<header><h1 class="title">Hello World!</h1></header>'
      console.log ret
