doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    style(type="text/css"): :stylus
      html,body { width: 100%; height: 100%; padding: 0; margin: 0 }
      textarea { outline: none!important; box-shadow: none!important }
  body.p-4
    .d-flex.flex-column.w-100.h-100
      div
        h2 pug-browser
        p builder for pug running in browser. quite small ( 170KB ) compared with a full browserified bundle ( 2MB ). Download ( #[a(href="/assets/lib/pug/pug.js") pug.js] / #[a(href="/assets/lib/pug/pug.min.js") pug.min.js] ) or #[a(href="https://github.com/plotdb/pug-browser") clone from Github repo] and build by yourself.


      .row.h-100.flex-grow-1
        .col-md: textarea.w-100.h-100.form-control.code-block.text-lg(ld="pug").
          doctype html
          html
            head
            body
              mixin para(v)
                p&attributes(attributes) paragraph
              h1 hello world
              each i in [1,2,3,4]
                +para(i).m-4
        .col-md: textarea.w-100.h-100.form-control.code-block.text-lg(ld="html",readonly)

    +script("https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js")
    script: :lsc
      BrowserFS.install window
      BrowserFS.configure {fs: \LocalStorage}, -> window.fs = fs = require("fs")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/pug/pug.min.js")
    script: :lsc
      pug = require("pug")
      update = ->
        ret = pug.render(view.get(\pug).value, {filename: \index.pug, basedir: '.', pretty: true})
        view.get(\html).value = ret
      view = new ldView do
        root: document
        action: input: pug: update
        handler: html: ->
      update!
